.container-main {
    /*width: 80%;*/
    margin: auto;
    overflow: hidden;
    padding: 20px;
}
html {
    box-sizing: border-box;
}
body {
    background-color: brown;
}
header {
    background-color: black;
    width: auto;
    height: 250px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.headshot {
    width: auto;
    height: 175px;
    border-radius: 50%;
    /*display: block;*/
    margin: 20px 20px 20px auto;
}
h1, p {
    color: aliceblue;
}
.skills {
    text-align: center;
}
.projects {
    display: flex;
    flex-wrap: wrap;
}
.card-body {
    /*width: 250px;*/
}
.feature-list {
    display: flex;
    flex-direction: column;
}
.github-repo {
    display: flex;
    justify-content: space-evenly;
}
#timeline .entry {
    border-left: 3px solid #333;
    margin-bottom: 5px;
    cursor: pointer;
}
#timeline .entry-header {
    background: #e2e2e2;
    padding: 10px;
    margin-left: -3px;
}

#timeline .entry-header:hover {
    background: #ccc;
    color: #333;
}
#timeline .entry-content {
    padding-top: 5px;
    padding-left: 2px;
}
/* Style for the job description content */
#timeline .entry-content p {
    padding: 5px 10px;
    background: black;
    /*border-left: 3px solid #333;*/
    display: block;
}
/* Adjustments for active class */
.entry.active .entry-header {
    background-color: #e2e2e2;
    color: #333;
}

.entry.active .entry-content {
    display: block;
}

/* Visual cue for clickable items */
.entry .entry-header:after {
    content: ' (click to expand)';
    font-size: 0.8em;
    color: #666;
}

.entry.active .entry-header:after {
    content: ' (click to collapse)';
    font-size: 0.8em;
    color: #666;
}
.h2-tech-skills {
    display: flex;
    width: auto;
    justify-content: center;
}
.h2-software-apps {
    display: flex;
    justify-content: center;
}
footer {
    background-color: black;
    width: auto;
    height: 200px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.footer-info {
    text-align: center;
    width: fit-content;
    padding-left: 15px;
}
