
.container-main {
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

html {
    box-sizing: border-box;
}

body {
    background-color: brown;
}

.header-info {
    background-color: black;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}

#name, #headerInfo{
    color: aliceblue;
    text-align: center;
}

.headshot {
    width: auto;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}

.skills {
    text-align: center;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.feature-list {
    display: flex;
    flex-direction: column;
}

.card-title {
    color: aliceblue;
}

.school-list {
    text-align: center;
    list-style-position: inside;
}

#educationSection p {
    color: black;
    font-style: italic;
    font-weight: bold;
}

#educationSection h2{
    text-align: center;
}

.school-bullet {
    width: auto;
}

li {
    width: auto;
}

p {
    color: rosybrown;
    text-align: center;
}

.github-repo {
    display: flex;
    justify-content: space-evenly;
}

.job-description {
    width: auto;
    color: aliceblue;
}

#timeline .entry {
    border-left: 3px solid rosybrown;;
    margin-bottom: 5px;
    cursor: pointer;
}

#timeline .entry-header {
    background: #e2e2e2;
    padding: 10px;
    margin-left: -3px;
}

#timeline .entry-header:hover {
    background: #ccc;
    color: #333;
}

#timeline .entry-content {
    padding-top: 5px;
    padding-left: 2px;
}

#timeline .entry-content p {
    padding: 5px 10px;
    background: black;
    display: block;
}

.entry.active .entry-header {
    background-color: #e2e2e2;
    color: #333;
}

.entry.active .entry-content {
    display: block;
}

.entry .entry-header:after {
    content: ' (click to expand)';
    font-size: 0.8em;
    color: #666;
}

.entry.active .entry-header:after {
    content: ' (click to collapse)';
    font-size: 0.8em;
    color: #666;
}

.h2-tech-skills {
    display: flex;
    width: auto;
    justify-content: center;
    text-align: center;
}

.h2-software-apps {
    display: flex;
    justify-content: center;
    text-align: center;
}

footer {
    background-color: black;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-info {
    text-align: center;
    width: fit-content;
}
